@media (min-width: 768px) {
  .nav-menu-enter {
    transform: translateX(100%);
  }
  .nav-menu-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
  }
  .nav-menu-exit {
    transform: translateX(0);
  }
  .nav-menu-exit-active {
    transform: translateX(100%);
    transition: transform 300ms;
  }
}

@media (min-width: 768px) {
  .nav-menu-enter {
    transform: translateX(100%);
  }
  .nav-menu-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
  }
  .nav-menu-exit {
    transform: translateX(0);
  }
  .nav-menu-exit-active {
    transform: translateX(100%);
    transition: transform 300ms;
  }
}